/**
* Variables 
*/
html {
  overflow-x: hidden; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

button {
  font-size: 0.9rem;
  color: brown;
  padding: 0;
  line-height: 1.1;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  cursor: pointer;
  border: none;
  background: none; }
  button:hover, button:focus {
    color: #333333; }

span, p {
  color: #333333;
  font-size: 0.75rem;
  line-height: 1.25; }

h2 {
  font-size: font-size-xl;
  color: black; }

h3 {
  font-size: font-size-md;
  color: black;
  text-transform: uppercase; }

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; }
  .app .app__page {
    width: calc(100% - 12rem);
    background: #fafafa;
    -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    -webkit-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  text-decoration: none;
  outline: none; }

button {
  outline: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container-fluid,
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%; }

.container {
  max-width: 75rem; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }

[class*='col-'] {
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.col-1 {
  width: 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  width: 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  width: 25%;
  max-width: 25%; }

.col-4 {
  width: 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  width: 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  width: 50%;
  max-width: 50%; }

.col-7 {
  width: 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  width: 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  width: 75%;
  max-width: 75%; }

.col-10 {
  width: 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  width: 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  width: 100%;
  max-width: 100%; }

@media (min-width: 48rem) {
  .col-md-1 {
    width: 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    width: 25%;
    max-width: 25%; }
  .col-md-4 {
    width: 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    width: 50%;
    max-width: 50%; }
  .col-md-7 {
    width: 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    width: 75%;
    max-width: 75%; }
  .col-md-10 {
    width: 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    width: 100%;
    max-width: 100%; } }

@media (min-width: 62rem) {
  .col-lg-1 {
    width: 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    width: 25%;
    max-width: 25%; }
  .col-lg-4 {
    width: 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    width: 50%;
    max-width: 50%; }
  .col-lg-7 {
    width: 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    width: 75%;
    max-width: 75%; }
  .col-lg-10 {
    width: 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    width: 100%;
    max-width: 100%; } }

@media (min-width: 75rem) {
  .col-xl-1 {
    width: 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    width: 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    width: 25%;
    max-width: 25%; }
  .col-xl-4 {
    width: 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    width: 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    width: 50%;
    max-width: 50%; }
  .col-xl-7 {
    width: 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    width: 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    width: 75%;
    max-width: 75%; }
  .col-xl-10 {
    width: 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    width: 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    width: 100%;
    max-width: 100%; } }

.table {
  width: 100%; }
  .table .table__tr {
    border-bottom: 1px solid grey; }
    .table .table__tr:nth-of-type(even) {
      background: #f4f4f4; }
  .table .table__td {
    padding: 0 .25rem;
    height: 3.5rem;
    vertical-align: middle;
    font-size: 0.9rem; }
  .table .table__action-icon {
    cursor: pointer;
    font-size: 1.25rem;
    padding: .5rem;
    color: #c0c0c0;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    margin: -.5rem -.25rem; }
    .table .table__action-icon:hover, .table .table__action-icon:focus {
      color: #333333; }

.sidebar {
  width: 12rem;
  background: #fafafa;
  border-right: 2px black solid;
  -webkit-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
  position: relative; }
  .sidebar .sidebar__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: .5rem 0; }

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }

.sidebar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 1rem 0 .5rem; }
  .sidebar-logo .sidebar-logo__text {
    text-align: center;
    font-size: 2.25rem; }
    .sidebar-logo .sidebar-logo__text a {
      color: #228DFF;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      font-family: Iceland, cursive; }
    .sidebar-logo .sidebar-logo__text a:hover {
      color: #ffffff;
      -webkit-animation: neon 1.5s ease-in-out infinite alternate;
              animation: neon 1.5s ease-in-out infinite alternate; }

.sidebar-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem; }
  .sidebar-user .sidebar-user__avatar-wrapper {
    position: relative;
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    border-radius: 55%;
    -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
    -webkit-transition: width 0.2s, height 0.2s;
    -o-transition: width 0.2s, height 0.2s;
    transition: width 0.2s, height 0.2s; }
    .sidebar-user .sidebar-user__avatar-wrapper:hover .sidebar-user__overlay {
      opacity: 1; }
    .sidebar-user .sidebar-user__avatar-wrapper:hover .sidebar-user__icon {
      opacity: 1;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
  .sidebar-user .sidebar-user__avatar {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transform: scale(2.3);
        -ms-transform: scale(2.3);
            transform: scale(2.3); }
  .sidebar-user .sidebar-user__overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  .sidebar-user .sidebar-user__icon {
    color: white;
    font-size: 2rem;
    -webkit-transform: scale(5);
        -ms-transform: scale(5);
            transform: scale(5);
    opacity: 0;
    -webkit-transition: opacity 1s, -webkit-transform 0.2s;
    transition: opacity 1s, -webkit-transform 0.2s;
    -o-transition: opacity 1s, transform 0.2s;
    transition: opacity 1s, transform 0.2s;
    transition: opacity 1s, transform 0.2s, -webkit-transform 0.2s; }
  .sidebar-user .sidebar-user__name-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: .75rem; }
  .sidebar-user .sidebar-user__name {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition: color 0.2s, font-size 0.2s;
    -o-transition: color 0.2s, font-size 0.2s;
    transition: color 0.2s, font-size 0.2s; }
    .sidebar-user .sidebar-user__name:hover, .sidebar-user .sidebar-user__name:focus {
      color: #333333; }
  .sidebar-user .sidebar-user__status {
    font-size: 0.75rem;
    margin-top: .25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: yellow;
    -webkit-transition: font-size 0.2s;
    -o-transition: font-size 0.2s;
    transition: font-size 0.2s; }
    .sidebar-user .sidebar-user__status:after {
      content: '';
      margin-left: .25rem;
      width: .4rem;
      height: .4rem;
      background: yellow;
      border-radius: 50%; }
    .sidebar-user .sidebar-user__status.sidebar-user__status--online {
      color: #8BC34A; }
      .sidebar-user .sidebar-user__status.sidebar-user__status--online:after {
        background: #8BC34A; }
  .sidebar-user.sidebar-user--mini {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .sidebar-user.sidebar-user--mini .sidebar-user__avatar-wrapper {
      width: 2rem;
      height: 2rem; }
    .sidebar-user.sidebar-user--mini .sidebar-user__name-wrapper {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-top: .25rem;
      margin-left: .5rem; }
    .sidebar-user.sidebar-user--mini .sidebar-user__name {
      font-weight: 400; }
    .sidebar-user.sidebar-user--mini .sidebar-user__status {
      margin: 0;
      position: relative; }
      .sidebar-user.sidebar-user--mini .sidebar-user__status::after {
        position: absolute;
        bottom: 0;
        left: -1rem;
        margin-left: 0;
        border: 1px solid #fff; }
    .sidebar-user.sidebar-user--mini .sidebar-user__icon {
      font-size: 1rem; }

@-webkit-keyframes alert-pulse {
  20% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 167, 38, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 167, 38, 0.7); }
  80% {
    -webkit-box-shadow: 0 0 0 0.75rem rgba(255, 167, 38, 0);
            box-shadow: 0 0 0 0.75rem rgba(255, 167, 38, 0); } }

@keyframes alert-pulse {
  20% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 167, 38, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 167, 38, 0.7); }
  80% {
    -webkit-box-shadow: 0 0 0 0.75rem rgba(255, 167, 38, 0);
            box-shadow: 0 0 0 0.75rem rgba(255, 167, 38, 0); } }

@-webkit-keyframes alert-shake {
  5%, 15%, 25%, 35%, 45% {
    -webkit-transform: translateX(-0.8rem);
            transform: translateX(-0.8rem); }
  10%, 20%, 30%, 40% {
    -webkit-transform: translateX(0.8rem);
            transform: translateX(0.8rem); }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes alert-shake {
  5%, 15%, 25%, 35%, 45% {
    -webkit-transform: translateX(-0.8rem);
            transform: translateX(-0.8rem); }
  10%, 20%, 30%, 40% {
    -webkit-transform: translateX(0.8rem);
            transform: translateX(0.8rem); }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.sidebar-nav {
  width: 100%; }
  .sidebar-nav .sidebar-nav__header {
    padding: .5rem 1rem;
    font-size: 0.75rem;
    font-weight: 700;
    color: #333333; }
  .sidebar-nav .sidebar-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.9rem;
    padding: 0 1rem;
    height: 2.5rem;
    position: relative;
    -webkit-transition: width 0.2s, background 0.2s;
    -o-transition: width 0.2s, background 0.2s;
    transition: width 0.2s, background 0.2s; }
    .sidebar-nav .sidebar-nav__item:hover, .sidebar-nav .sidebar-nav__item:focus {
      outline: none; }
      .sidebar-nav .sidebar-nav__item:hover .sidebar-nav__icon,
      .sidebar-nav .sidebar-nav__item:hover .sidebar-nav__title, .sidebar-nav .sidebar-nav__item:focus .sidebar-nav__icon,
      .sidebar-nav .sidebar-nav__item:focus .sidebar-nav__title {
        color: #a5c9ff; }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--primary:before {
      content: '';
      width: 100%;
      height: 100%;
      background: #a5c9ff;
      position: absolute;
      z-index: 0;
      left: 100%;
      top: 0;
      opacity: 0; }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--primary:hover:before, .sidebar-nav .sidebar-nav__item.sidebar-nav__item--primary:focus:before {
      left: 0;
      opacity: 1;
      width: .2rem;
      -webkit-transition: left .1s, width .15s .1s, opacity 2s;
      -o-transition: left .1s, width .15s .1s, opacity 2s;
      transition: left .1s, width .15s .1s, opacity 2s; }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary .sidebar-nav__icon-wrapper::after {
      content: 'arrow_forward';
      font-family: 'Material Icons';
      font-size: 1.25rem;
      color: rgba(0, 0, 0, 0.54);
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%);
      opacity: 0;
      -webkit-transition-property: color, opacity, -webkit-transform;
      transition-property: color, opacity, -webkit-transform;
      -o-transition-property: color, transform, opacity;
      transition-property: color, transform, opacity;
      transition-property: color, transform, opacity, -webkit-transform;
      -webkit-transition-duration: 0.2s;
           -o-transition-duration: 0.2s;
              transition-duration: 0.2s; }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary:hover .sidebar-nav__icon-wrapper::after, .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary:focus .sidebar-nav__icon-wrapper::after {
      color: #ffb2b2;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      opacity: 1; }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary:hover .sidebar-nav__icon, .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary:focus .sidebar-nav__icon {
      color: #ffb2b2;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary:hover .sidebar-nav__title, .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary:focus .sidebar-nav__title {
      color: #ffb2b2; }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary .sidebar-nav__notification {
      background: -o-linear-gradient(45deg, green 0, #00cd00 75%, green 100%);
      background: linear-gradient(45deg, green 0, #00cd00 75%, green 100%);
      -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0, 128, 0, 0.2);
              box-shadow: 0 0.75rem 1.25rem rgba(0, 128, 0, 0.2); }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary.sidebar-nav__item--alert .sidebar-nav__title {
      color: orange; }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary.sidebar-nav__item--alert .sidebar-nav__icon {
      color: orange;
      -webkit-animation: alert-pulse 2s infinite, alert-shake 2s infinite;
              animation: alert-pulse 2s infinite, alert-shake 2s infinite;
      border-radius: 50%; }
  .sidebar-nav .sidebar-nav__icon-wrapper {
    position: relative;
    margin-right: 1rem;
    width: 1.5rem; }
  .sidebar-nav .material-icons {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition-property: color, opacity, -webkit-transform;
    transition-property: color, opacity, -webkit-transform;
    -o-transition-property: color, transform, opacity;
    transition-property: color, transform, opacity;
    transition-property: color, transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }
  .sidebar-nav .sidebar-nav__title {
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
  .sidebar-nav .sidebar-nav__notification {
    position: absolute;
    right: 1rem;
    font-size: 0.625rem;
    font-weight: 400;
    color: pink;
    background: -o-linear-gradient(45deg, #333333 0, #5e5e5e 50%, #333333 100%);
    background: linear-gradient(45deg, #333333 0, #5e5e5e 50%, #333333 100%);
    padding: .25rem .5rem;
    border-radius: 0.625rem;
    -webkit-box-shadow: 0 0.75rem 1.25rem rgba(51, 51, 51, 0.2);
            box-shadow: 0 0.75rem 1.25rem rgba(51, 51, 51, 0.2); }

.sidebar-toggler__checkbox {
  position: absolute;
  z-index: -10; }
  .sidebar-toggler__checkbox:checked + .sidebar {
    width: 4.6rem; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-toggler {
      width: 100%;
      height: 3rem; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-toggler__icon::before {
      -webkit-transform: rotate(63deg);
          -ms-transform: rotate(63deg);
              transform: rotate(63deg); }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-toggler__icon::after {
      -webkit-transform: rotate(-63deg);
          -ms-transform: rotate(-63deg);
              transform: rotate(-63deg); }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-logo__wrapper {
      height: 0;
      overflow: hidden; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-sure {
      padding: 0 .25rem; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-user__avatar-wrapper {
      width: 3rem;
      height: 3rem; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-user__name, .sidebar-toggler__checkbox:checked + .sidebar .sidebar-user__status {
      font-size: 0.625rem; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-nav__header::before {
      content: attr(data-toggled-abbr);
      text-transform: uppercase;
      margin-right: 2.5rem; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-nav__item {
      z-index: 2;
      overflow: hidden;
      width: 3.5rem; }
      .sidebar-toggler__checkbox:checked + .sidebar .sidebar-nav__item:hover, .sidebar-toggler__checkbox:checked + .sidebar .sidebar-nav__item:focus {
        background: #fafafa;
        width: 10rem;
        -webkit-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
                box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15); }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-nav__notification {
      right: .25rem;
      top: .25rem;
      padding: .1rem .25rem;
      font-size: .5rem; }
  .sidebar-toggler__checkbox:checked ~ .app__page {
    width: calc(100% - 3.5rem); }

.sidebar-toggler {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer; }
  .sidebar-toggler:hover .sidebar-toggler__icon::before, .sidebar-toggler:hover .sidebar-toggler__icon::after {
    background: blue; }
  .sidebar-toggler .sidebar-toggler__icon {
    width: .75rem;
    height: .75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .sidebar-toggler .sidebar-toggler__icon::before, .sidebar-toggler .sidebar-toggler__icon::after {
      content: '';
      position: absolute;
      width: .75rem;
      height: .12rem;
      background: black;
      -webkit-transition: background 0.2s, -webkit-transform 0.4s;
      transition: background 0.2s, -webkit-transform 0.4s;
      -o-transition: transform 0.4s, background 0.2s;
      transition: transform 0.4s, background 0.2s;
      transition: transform 0.4s, background 0.2s, -webkit-transform 0.4s; }
    .sidebar-toggler .sidebar-toggler__icon::before {
      top: 0;
      -webkit-transform: rotate(-63deg);
          -ms-transform: rotate(-63deg);
              transform: rotate(-63deg); }
    .sidebar-toggler .sidebar-toggler__icon::after {
      bottom: 0;
      -webkit-transform: rotate(63deg);
          -ms-transform: rotate(63deg);
              transform: rotate(63deg); }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: red;
  height: 3.5rem;
  background: #fff;
  -webkit-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
  padding: 0 1rem; }
  .navbar .navbar__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%; }
  .navbar .navbar__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1rem;
    height: 100%; }

.navbar-search__input {
  position: absolute;
  z-index: 1;
  opacity: 0;
  left: 50%;
  top: 1.5rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0 2rem;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #333333;
  border-radius: 2rem;
  -webkit-transition-property: width, top, opacity;
  -o-transition-property: width, top, opacity;
  transition-property: width, top, opacity;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  .navbar-search__input:focus {
    width: calc(100% - 26rem);
    top: 5rem;
    opacity: 1;
    outline: none; }
    .navbar-search__input:focus + .app {
      -webkit-transform: perspective(70rem) rotateX(30deg);
              transform: perspective(70rem) rotateX(30deg); }

.navbar-search {
  width: 3rem;
  height: 3rem;
  position: relative; }
  .navbar-search .navbar-search__label-icon {
    display: block;
    width: inherit;
    height: inherit;
    cursor: pointer;
    padding: 1.5rem;
    overflow: hidden; }
    .navbar-search .navbar-search__label-icon:hover .navbar-search__icon {
      color: #333333;
      text-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
      font-size: calc(2rem + 50%); }
    .navbar-search .navbar-search__label-icon:hover .navbar-search__name {
      color: #333333;
      text-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
      left: 2.5rem;
      opacity: 1; }
  .navbar-search .navbar-search__icon {
    color: rgba(0, 0, 0, 0.54);
    font-size: 2rem;
    line-height: 1.25;
    position: relative;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition-property: color, text-shadow, font-size;
    -o-transition-property: color, text-shadow, font-size;
    transition-property: color, text-shadow, font-size;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }
  .navbar-search .navbar-search__name {
    color: rgba(0, 0, 0, 0.54);
    line-height: 1.25;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
    -webkit-transition-property: color, text-shadow, opacity, left;
    -o-transition-property: color, text-shadow, opacity, left;
    transition-property: color, text-shadow, opacity, left;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }

.navbar-lang-switcher {
  position: relative;
  height: 100%; }
  .navbar-lang-switcher:hover .navbar-lang-switcher__flag-wrapper {
    height: 3rem;
    opacity: 1; }
  .navbar-lang-switcher .navbar-lang-switcher__flag-list {
    position: absolute;
    left: 0;
    top: 100%;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-left: -1rem; }
  .navbar-lang-switcher .navbar-lang-switcher__flag-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0;
    opacity: 0;
    -webkit-transition-property: height, opacity, -webkit-box-shadow;
    transition-property: height, opacity, -webkit-box-shadow;
    -o-transition-property: height, opacity, box-shadow;
    transition-property: height, opacity, box-shadow;
    transition-property: height, opacity, box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }
    .navbar-lang-switcher .navbar-lang-switcher__flag-wrapper:not(.navbar-lang-switcher__flag-wrapper--active) {
      padding: 0 1rem; }
      .navbar-lang-switcher .navbar-lang-switcher__flag-wrapper:not(.navbar-lang-switcher__flag-wrapper--active):hover, .navbar-lang-switcher .navbar-lang-switcher__flag-wrapper:not(.navbar-lang-switcher__flag-wrapper--active):focus {
        background: #f5f5f5;
        -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
                box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2); }
    .navbar-lang-switcher .navbar-lang-switcher__flag-wrapper.navbar-lang-switcher__flag-wrapper--active {
      height: 100%;
      opacity: 1; }
      .navbar-lang-switcher .navbar-lang-switcher__flag-wrapper.navbar-lang-switcher__flag-wrapper--active::after {
        content: 'keyboard_arrow_down';
        font-family: 'Material Icons';
        color: #333333; }
  .navbar-lang-switcher .navbar-lang-switcher__flag {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden; }
    .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--poland {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, red));
      background: -o-linear-gradient(top, #fff 50%, red 50%);
      background: linear-gradient(to bottom, #fff 50%, red 50%); }
    .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--italy {
      background: -webkit-gradient(linear, left top, right top, color-stop(33%, green), color-stop(33%, white), color-stop(66%, white), color-stop(66%, red));
      background: -o-linear-gradient(left, green 33%, white 33%, white 66%, red 66%);
      background: linear-gradient(to right, green 33%, white 33%, white 66%, red 66%); }
    .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--greece {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, blue), color-stop(11%, white), color-stop(22%, white), color-stop(22%, blue), color-stop(33%, blue), color-stop(33%, white), color-stop(44%, white), color-stop(44%, blue), color-stop(55%, blue), color-stop(55%, white), color-stop(66%, white), color-stop(66%, blue), color-stop(77%, blue), color-stop(77%, white), color-stop(88%, white), color-stop(88%, blue));
      background: -o-linear-gradient(top, blue 11%, white 11%, white 22%, blue 22%, blue 33%, white 33%, white 44%, blue 44%, blue 55%, white 55%, white 66%, blue 66%, blue 77%, white 77%, white 88%, blue 88%);
      background: linear-gradient(to bottom, blue 11%, white 11%, white 22%, blue 22%, blue 33%, white 33%, white 44%, blue 44%, blue 55%, white 55%, white 66%, blue 66%, blue 77%, white 77%, white 88%, blue 88%); }
      .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--greece::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 50%;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, white), color-stop(60%, white), color-stop(60%, transparent)), -webkit-gradient(linear, left top, right top, color-stop(40%, blue), color-stop(40%, white), color-stop(60%, white), color-stop(60%, blue));
        background: -o-linear-gradient(top, transparent 40%, white 40%, white 60%, transparent 60%), -o-linear-gradient(left, blue 40%, white 40%, white 60%, blue 60%);
        background: linear-gradient(to bottom, transparent 40%, white 40%, white 60%, transparent 60%), linear-gradient(to right, blue 40%, white 40%, white 60%, blue 60%); }
    .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--cech {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, red));
      background: -o-linear-gradient(top, #fff 50%, red 50%);
      background: linear-gradient(to bottom, #fff 50%, red 50%); }
      .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--cech::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background: blue;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
                clip-path: polygon(0 0, 0 100%, 100% 50%); }
    .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--german {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(33%, black), color-stop(33%, red), color-stop(66%, red), color-stop(66%, yellow));
      background: -o-linear-gradient(top, black 33%, red 33%, red 66%, yellow 66%);
      background: linear-gradient(to bottom, black 33%, red 33%, red 66%, yellow 66%); }
    .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--us {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, red), color-stop(11%, white), color-stop(22%, white), color-stop(22%, red), color-stop(33%, red), color-stop(33%, white), color-stop(44%, white), color-stop(44%, red), color-stop(55%, red), color-stop(55%, white), color-stop(66%, white), color-stop(66%, red), color-stop(77%, red), color-stop(77%, white), color-stop(88%, white), color-stop(88%, red));
      background: -o-linear-gradient(top, red 11%, white 11%, white 22%, red 22%, red 33%, white 33%, white 44%, red 44%, red 55%, white 55%, white 66%, red 66%, red 77%, white 77%, white 88%, red 88%);
      background: linear-gradient(to bottom, red 11%, white 11%, white 22%, red 22%, red 33%, white 33%, white 44%, red 44%, red 55%, white 55%, white 66%, red 66%, red 77%, white 77%, white 88%, red 88%); }
      .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--us::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 70%;
        height: 68%;
        background: blue; }
      .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--us::after {
        content: '\2605';
        position: absolute;
        top: 0;
        left: -.45rem;
        color: white;
        font-size: .375rem;
        text-shadow: 0.45rem 0 0 white, 0.9rem 0 0 white, 1.35rem 0 0 white, 0.675rem 0.225rem 0 white, 1.125rem 0.225rem 0 white, 0.45rem 0.45rem 0 white, 0.9rem 0.45rem white, 1.35rem 0.45rem 0 white; }
  .navbar-lang-switcher .lang_switcher__country-name {
    white-space: nowrap;
    margin-left: .5rem; }

.navbar-sign-out {
  height: 100%; }
  .navbar-sign-out .navbar-sign-out__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    position: relative; }
    .navbar-sign-out .navbar-sign-out__button:hover .navbar-sign-out__icon, .navbar-sign-out .navbar-sign-out__button:focus .navbar-sign-out__icon {
      opacity: 0; }
      .navbar-sign-out .navbar-sign-out__button:hover .navbar-sign-out__icon:nth-of-type(2), .navbar-sign-out .navbar-sign-out__button:focus .navbar-sign-out__icon:nth-of-type(2) {
        opacity: 1; }
    .navbar-sign-out .navbar-sign-out__button:hover .navbar-sign-out__letters-wrapper .navbar-sign-out__letter, .navbar-sign-out .navbar-sign-out__button:focus .navbar-sign-out__letters-wrapper .navbar-sign-out__letter {
      color: pink;
      opacity: 0; }
      .navbar-sign-out .navbar-sign-out__button:hover .navbar-sign-out__letters-wrapper .navbar-sign-out__letter:nth-of-type(odd), .navbar-sign-out .navbar-sign-out__button:focus .navbar-sign-out__letters-wrapper .navbar-sign-out__letter:nth-of-type(odd) {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%); }
      .navbar-sign-out .navbar-sign-out__button:hover .navbar-sign-out__letters-wrapper .navbar-sign-out__letter:nth-of-type(even), .navbar-sign-out .navbar-sign-out__button:focus .navbar-sign-out__letters-wrapper .navbar-sign-out__letter:nth-of-type(even) {
        -webkit-transform: translateY(100%);
            -ms-transform: translateY(100%);
                transform: translateY(100%); }
    .navbar-sign-out .navbar-sign-out__button:hover .navbar-sign-out__letters-wrapper.navbar-sign-out__letters-wrapper-toggler .navbar-sign-out__letter, .navbar-sign-out .navbar-sign-out__button:focus .navbar-sign-out__letters-wrapper.navbar-sign-out__letters-wrapper-toggler .navbar-sign-out__letter {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      opacity: 1; }
  .navbar-sign-out .navbar-sign-out__icon {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 1.25rem;
    opacity: 1;
    color: #333333;
    -webkit-transition-property: opacity, color;
    -o-transition-property: opacity, color;
    transition-property: opacity, color;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }
    .navbar-sign-out .navbar-sign-out__icon:nth-of-type(2) {
      opacity: 0; }
  .navbar-sign-out .navbar-sign-out__letters-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin-left: 1.5rem; }
    .navbar-sign-out .navbar-sign-out__letters-wrapper.navbar-sign-out__letters-wrapper-toggler {
      position: absolute;
      left: 0;
      top: 0; }
      .navbar-sign-out .navbar-sign-out__letters-wrapper.navbar-sign-out__letters-wrapper-toggler .navbar-sign-out__letter {
        opacity: 0; }
        .navbar-sign-out .navbar-sign-out__letters-wrapper.navbar-sign-out__letters-wrapper-toggler .navbar-sign-out__letter:nth-of-type(odd) {
          -webkit-transform: translateY(-100%);
              -ms-transform: translateY(-100%);
                  transform: translateY(-100%); }
        .navbar-sign-out .navbar-sign-out__letters-wrapper.navbar-sign-out__letters-wrapper-toggler .navbar-sign-out__letter:nth-of-type(even) {
          -webkit-transform: translateY(100%);
              -ms-transform: translateY(100%);
                  transform: translateY(100%); }
  .navbar-sign-out .navbar-sign-out__letter {
    color: #333333;
    opacity: 1;
    -webkit-transition-property: opacity, color, -webkit-transform;
    transition-property: opacity, color, -webkit-transform;
    -o-transition-property: transform, opacity, color;
    transition-property: transform, opacity, color;
    transition-property: transform, opacity, color, -webkit-transform;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }
    .navbar-sign-out .navbar-sign-out__letter:nth-of-type(1) {
      -webkit-transition-delay: 0s;
           -o-transition-delay: 0s;
              transition-delay: 0s; }
    .navbar-sign-out .navbar-sign-out__letter:nth-of-type(2) {
      -webkit-transition-delay: .025s;
           -o-transition-delay: .025s;
              transition-delay: .025s; }
    .navbar-sign-out .navbar-sign-out__letter:nth-of-type(3) {
      -webkit-transition-delay: .05s;
           -o-transition-delay: .05s;
              transition-delay: .05s; }
    .navbar-sign-out .navbar-sign-out__letter:nth-of-type(4) {
      -webkit-transition-delay: .075s;
           -o-transition-delay: .075s;
              transition-delay: .075s; }
    .navbar-sign-out .navbar-sign-out__letter:nth-of-type(5) {
      -webkit-transition-delay: .1s;
           -o-transition-delay: .1s;
              transition-delay: .1s; }
    .navbar-sign-out .navbar-sign-out__letter:nth-of-type(6) {
      -webkit-transition-delay: .125s;
           -o-transition-delay: .125s;
              transition-delay: .125s; }
    .navbar-sign-out .navbar-sign-out__letter:nth-of-type(7) {
      -webkit-transition-delay: .15s;
           -o-transition-delay: .15s;
              transition-delay: .15s; }
    .navbar-sign-out .navbar-sign-out__letter:nth-of-type(8) {
      -webkit-transition-delay: .175s;
           -o-transition-delay: .175s;
              transition-delay: .175s; }
    .navbar-sign-out .navbar-sign-out__letter:nth-of-type(9) {
      -webkit-transition-delay: .2s;
           -o-transition-delay: .2s;
              transition-delay: .2s; }
    .navbar-sign-out .navbar-sign-out__letter:nth-of-type(10) {
      -webkit-transition-delay: .225s;
           -o-transition-delay: .225s;
              transition-delay: .225s; }
    .navbar-sign-out .navbar-sign-out__letter:nth-of-type(11) {
      -webkit-transition-delay: .25s;
           -o-transition-delay: .25s;
              transition-delay: .25s; }

.dashboard {
  margin: 0 2rem; }
  .dashboard .dashboard__heading {
    margin-bottom: 2rem; }
    .dashboard .dashboard__heading.dashboard__heading--main {
      margin-bottom: 0; }
  .dashboard .dashboard__section {
    -webkit-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
    padding: 2rem 1rem;
    margin-top: 2rem;
    background: white;
    border-radius: .25rem; }
    .dashboard .dashboard__section.dashboard__section--small {
      padding-top: 1rem;
      padding-bottom: 1rem; }
    .dashboard .dashboard__section.dashboard__section--transparent {
      background: #fafafa;
      -webkit-box-shadow: none;
              box-shadow: none; }

/*# sourceMappingURL=styles.css.map */
