html {
    overflow-x: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

span, p {
    color: $primary;
    font-size: $font-size-xs;
    line-height: 1.25;
}

.app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    transition: transform $transition-duration;

    .app__page {
        width: calc(100% - 12rem);
        background: #fafafa;
        box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
        position: relative;
        z-index: 1;
        transition: width $transition-duration;
    }

}
