
.container-fluid,
.container {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 100%;
}

.container { max-width: 75rem; } //1200px

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -1rem;
	margin-right: -1rem;
}

//everything starting with col-
[class*='col-'] {

	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
}

@for $i from 1 to 13 {

	.col-#{$i} {
		width: $i / 12 * 100%;

		max-width: $i / 12 * 100%;
	}

}

@media (min-width: 48rem) { //768px

	@for $i from 1 to 13 {

		.col-md-#{$i} {
			width: $i / 12 * 100%;

			max-width: $i / 12 * 100%;
		}
			
	}

}

@media (min-width: 62rem) { //992px

	@for $i from 1 to 13 {

		.col-lg-#{$i} {
			width: $i / 12 * 100%;

			max-width: $i / 12 * 100%;
		}
			
	}

}


@media (min-width: 75rem) { //1200px

	@for $i from 1 to 13 {

		.col-xl-#{$i} {
			width: $i / 12 * 100%;

			max-width: $i / 12 * 100%;
		}
			
	}

}