/**
* Variables 
*/

$primary: red;
$grey-50: #fafafa;
$light: #fff;
$dark: rgba(#000, .87);
$dark-secondary: rgba(#000, .54);
$dark-disabled: yellow;
$success: #8BC34A;

//rgba(#000, .38);

$secondary: green;

$font-size-xxs: .625rem;
$font-size-xs: .75rem;
$font-size-sm: .9rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem; 


$shadow-10: 0 .25rem 1rem rgba(0,0,0, 0.15);
$shadow-20: 0 .75rem 1.25rem rgba(0,0,0, 0.2);




$transition-duration: .2s;

$font-weight-nomal: 400;
$font-weight-bold: 700;
