.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: red; 
	height: 3.5rem;
	background: $light;
	box-shadow: $shadow-10;
	padding: 0 1rem;


	.navbar__wrapper {
		display: flex;
		flex-direction: row;
		height: 100%;
	}

	.navbar__section {
		display: flex;
		align-items: center;
		margin-left: 1rem;
		height: 100%;
	}
}