$chart-circumference: 502.6548245744;
.pie-chart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	margin-top: 1.25rem;

	&.pie-chart--second {

		.pie-chart__inner-circle { stroke: blue; }

	}

	.pie-chart__background {
		width: 10rem;
		height: 10rem;
		background: #c6c6c6;
		box-shadow: $shadow-primary;
		border-radius: 50%;
	}

	.pie-chart__inner-circle {
		fill: #fafafa;
		opacity: .8;
		stroke-width: 10rem; //simmilar to border 
		stroke: red;
		stroke-dasharray: 0, $chart-circumference;
		// $chart-circumference * .25, $chart-circumference; 
		// C= 2pi r, 2 * 3.14159265359 * 5rem = 502.6548245744
		//10px length, 20px break line length
		//7660
		width: 10rem;
		height: 10rem;
		transform: rotate(-90deg);
		transform-origin: center; //gives the point to rotate from 

	}

	.pie-chart__wrapper { 
		position: relative;
		display: flex;
    	justify-content: center;
   		align-items: center; 
   	}

	.pie-chart__info {
		background: #fff;
		box-shadow: $shadow-20;
		width: 4rem;
		height: 4rem;
		position: absolute;
		z-index: 1;
		right: 25%;
		bottom: 0;
		border-radius: 50%;

		&:after {
			// content: "75%";
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
		}

	}

	.pie-chart__title {
		margin-top: 1rem;

	}
}