.table {
	width: 100%;

	.table__tr {
		border-bottom: 1px solid grey;

		&:nth-of-type(even) { background: #f4f4f4; }

	}

	.table__td {
		padding: 0 .25rem;
		height: 3.5rem;
		vertical-align: middle;
		font-size: $font-size-sm;
	}

	.table__action-icon {
		cursor: pointer;
		font-size: $font-size-lg;
		padding: .5rem;
		color: #c0c0c0;
		transition: color $transition-duration;
		margin: -.5rem -.25rem;

		    &:hover, &:focus { color: $primary; }
	}

}