.sidebar-user {
	display: flex;
	flex-direction: column;
	align-items:center;
	padding: 0 1rem;


	.sidebar-user__avatar-wrapper{
		position: relative;
		width: 6rem;
		height: 6rem;
		overflow: hidden;
		border-radius: 55%;
		box-shadow: $shadow-20;
		transition: width $transition-duration, height $transition-duration;

		&:hover {
			.sidebar-user__overlay { opacity: 1; }

			.sidebar-user__icon {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	.sidebar-user__avatar{
		width: 100%;
		height: 100%;
		object-fit: contain;
		transform: scale(2.3);
		// border-radius: 50%;
	}

	.sidebar-user__overlay {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(red, .5);
		border-radius: 50%;
		overflow: hidden;
		opacity: 0;
		transition: opacity $transition-duration;
	}

	.sidebar-user__icon {
		color: white;
		font-size: $font-size-xxl;
		transform: scale(5);
		opacity: 0;
		transition: opacity 1s,transform $transition-duration;
	}

	.sidebar-user__name-wrapper {
		display: flex;
		flex-direction: column;
		margin:  .75rem
	}

	.sidebar-user__name {
		font-weight: $font-weight-bold;
		color: $dark-secondary;
		transition: color $transition-duration, font-size $transition-duration;

		&:hover, &:focus { color: $primary; }

	}

	.sidebar-user__status {
		font-size:$font-size-xs;
		margin-top: .25rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		color: $dark-disabled;
		transition: font-size $transition-duration;

		&:after {
			content: '';
			margin-left: .25rem;
			width: .4rem; 
			height: .4rem;
			background: $dark-disabled;
			border-radius: 50%;
		}

		&.sidebar-user__status--online {
        	color: $success;

            &:after { background: $success; }

        }

	}

	&.sidebar-user--mini {
		flex-direction: row;
		
		.sidebar-user__avatar-wrapper {
			width: 2rem;
			height: 2rem;
		}

		.sidebar-user__name-wrapper {
			align-items: flex-start;
			margin-top: .25rem;
			margin-left: .5rem;
		}

		.sidebar-user__name { font-weight: 400; }

		.sidebar-user__status { 
			margin: 0; 
			position: relative;

			&::after {
				position: absolute;
				bottom: 0;
				left: -1rem;
				margin-left: 0;
				border: 1px solid #fff;
			}

		}
		.sidebar-user__icon { font-size: 1rem; }
	}


}

