.sidebar-nav {
	width: 100%;

	.sidebar-nav__header {
        padding: .5rem 1rem;
        font-size: $font-size-xs;
        font-weight: $font-weight-bold;
        color: $dark-disabled; 
	}

	.sidebar-nav__item {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-weight: $font-weight-bold;
		color: $dark-secondary;
		font-size: $font-size-sm;
		padding: 0 1rem;
		height: 2.5rem;
		position: relative;

		&:hover, &:focus {
			outline: none;

			.sidebar-nav__icon, 
			.sidebar-nav__title {
				color: $primary;
			}
		}

		&:before {
			content: '';
			width: 100%;
			height: 100%;
			background: $primary;
			position: absolute;
			left: 100%;
			top:0;
			opacity: 0;
		}

		&:hover, &:focus {
			
			&:before {
				left: 0;
				opacity: 1;
				width: .2rem;
				transition: left .1s, width .15s .1s, opacity 2s;//.1s is delay
			}
		}

	}

	.sidebar-nav__icon-wrapper { 
		position: relative;
		margin-right: 1rem;
		width: 1.5rem;
	}

	.material-icons {
		font-size: $font-size-xl;
		color: $dark-secondary;
		transition: color $transition-duration;
	}

	.sidebar-nav__title { transition: color $transition-duration; }

}



