@keyframes alert-pulse {
	20% { box-shadow: 0 0 0 0 rgba(#ffa726, .7); }
	80% { box-shadow: 0 0 0 0.75rem rgba(#ffa726, 0); }
}

@keyframes alert-shake {
	5%, 15%, 25%, 35%, 45% { transform: translateX(-.80rem); }
	10%, 20%, 30%, 40% { transform: translateX(.80rem); }
	50% { transform: translateX(0); }
}

.sidebar-nav {
	width: 100%;

	.sidebar-nav__header {
        padding: .5rem 1rem;
        font-size: $font-size-xs;
        font-weight: $font-weight-bold;
        color: $primary; 
	}

	.sidebar-nav__item {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-weight: $font-weight-bold;
		color: $dark-secondary;
		font-size: $font-size-sm;
		padding: 0 1rem;
		height: 2.5rem;
		position: relative;

		&:hover, &:focus {
			outline: none;

			.sidebar-nav__icon, 
			.sidebar-nav__title {
				color: #a5c9ff;
			}
		}

		&.sidebar-nav__item--primary {
			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background: #a5c9ff;
				position: absolute;
				z-index: 0;
				left: 100%;
				top:0;
				opacity: 0;
			}

			&:hover, &:focus {
			
				&:before {
					left: 0;
					opacity: 1;
					width: .2rem;
					transition: left .1s, width .15s .1s, opacity 2s;//.1s is delay
				}

			}
		}

		&.sidebar-nav__item--secondary {

			.sidebar-nav__icon-wrapper::after {
				content: 'arrow_forward';
				font-family: 'Material Icons';
				font-size: $font-size-lg;
				color: $dark-secondary;
				position: absolute;
				top: 0;
				left: 0;
				transform: translateX(100%);
				opacity: 0;
				transition-property: color, transform, opacity;
				transition-duration: $transition-duration;
			}

			&:hover, &:focus { 

				.sidebar-nav__icon-wrapper::after {
					color:  #ffb2b2;
					transform: translateX(0);
					opacity: 1;
				}

				.sidebar-nav__icon {
					color: #ffb2b2;
					transform:  translateX(-100%);
				}
				.sidebar-nav__title {
					color: #ffb2b2;
				}
			}

			.sidebar-nav__notification {
				background: $gradient-secondary;
				box-shadow: $shadow-secondary;
			}
			&.sidebar-nav__item--alert {

				.sidebar-nav__title { color: orange; }
				.sidebar-nav__icon { 
					color: orange;
					animation: alert-pulse 2s infinite, alert-shake 2s infinite; 
					border-radius: 50%;
				}
			}
		}
	}

	.sidebar-nav__icon-wrapper { 
		position: relative;
		margin-right: 1rem;
		width: 1.5rem;
	}

	.material-icons {
		font-size: $font-size-xl;
		color: $dark-secondary;
		transition-property: color, transform, opacity;
		transition-duration: $transition-duration;
	}

	.sidebar-nav__title { transition: color $transition-duration; }

	.sidebar-nav__notification {
    	position: absolute;
        right: 1rem;
        font-size: $font-size-xxs;
        font-weight: $font-weight-normal;
        color: pink;
        background: $gradient-primary;
        padding: .25rem .5rem;
        border-radius: $font-size-xxs;
        box-shadow: $shadow-primary;
    }

}
